// font
@mixin font($ff, $fz, $lh, $fw) {
   font-family: $ff;
   font-size: $fz;
   line-height: $lh;
   font-weight: $fw;
   letter-spacing: 0em;
}

// top-bottom
@mixin ptb ($pt, $pb) {
   padding-top: $pt;
   padding-bottom: $pb;
}

@mixin pt-mb ($pt, $mb) {
   padding-top: $pt;
   margin-bottom: $mb;
}

// wrap hash
@mixin hash-wrap ($area) {
   padding: $area;
   color: $color_1;
   background-color: $bg_2;
}

// position hash
@mixin hash-pos ($indent) {
   padding: $indent;
   display: flex;
   justify-content: end;
}

