// title
$fzTitle_1: 2.25rem;     // 36px
$fzTitle_2: 1.5rem;      // 24px
$fzTitle_3: 2.125rem;      // 34px
$fzTitle_4: 1.37rem;      // 22px
$fzTitle_5: 1.125rem;      // 18px

$lhTitle_1: 2.34rem;     // 37.44px
$lhTitle_2: 2.1rem;      // 33.6px
$lhTitle_3: 1.56rem;     // 24.96px
$lhTitle_4: 1.5rem;      // 24px
$lhTitle_5: 1.4rem;      // 22.4px
$lhTitle_6: 2rem;      // 32px
$lhTitle_7: 2.125rem;      // 34px
$lhTitle_8: 1.45rem;      // 23.22px

// text
$fzText_1: 1rem;         // 16px
$fzText_2: 0.87rem;      // 14px
$fzText_3: 0.75rem;    // 12px
$fzText_4: 0.625rem;    // 10px

$lhText_1: 1.75rem;        // 28px
$lhText_2: 1.37rem;       // 22px
$lhText_3: 1.18rem;      // 19px
$lhText_4: 1rem;      // 16px
$lhText_5: 1.565rem;      // 25px
$lhText_6: 0.87rem;      // 14px
$lhText_7: 1.125rem;      // 18px

// fw
$fw_1: 700;
$fw_2: 400;

// text btn
$fzBtn: 1rem;        // 16px
$lhBtn: 1.18rem;         // 19px
$fwBtn: 700;

// error
$fzError: 0.56rem;      // 9px
$lhError: 0.66rem;      // 10,56px
$fwError: 400;

// background
$bg_1: #ff6e30;
$bg_2: #202020;
$bg_3: #4a4a4a;
$bg_4: #e9e9e9;

// color
$color-text: #202020;
$color_1: #fff;
$color_2: #cacaca;
$color_3: #999;
$color_4: #ff6e30;
$color_5: #e9e9e9;
$color_6: #ff3030;
$color_7: #f06666;
$color_8: #fff;

// color-effect
$color_focus:#BC572B;
$color_hover:#FF6E30;
$color_active:#CE4307;

// color-effect btn-whole
$btn_whole-focus: #CE4307;
$btn_whole-hover: #BC572B;
$btn_whole-active: #CE4307;

// color-effect btn-empty
$btn_empty-focus: #BC572B;
$btn_empty-hover: #FF6E30;
$btn_empty-active: #CE4307;

//color-effect input-black
$input-focus: #FF6E30;
$input-hover: #FF6E30;


// font-family
$ff_1: Roboto, sans-serif;
$ff_2: TTFirsNeue, sans-serif;

// hash
$hashPad_1: 7px 15px;
$hashPad_2: 6px 14px;
$hashPad_3: 4px 7.5px;
$hashPad_4: 4px 14.2px;

$hashIndent_1: 15px 15px 0 0;
$hashIndent_2: 8px 7px 0 0;
$hashIndent_3: 5.5px 5px 0 0;
$hashIndent_4: 6.5px 5px 0 0;
